body {
    text-align: center;
    background-color: #2e2e2e;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#ctrl-btn {
    border: none;
    background-color: black;
    color: white;
    padding: 20px;
}

#ctrl-btn:hover {
    border: none;
    background-color: white;
    color: black;
    padding: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
